@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/*------------------------------------------------------------------ General */

/* * {
    box-sizing: border-box !important;
} */

body {
    /* margin: 0;
    padding: 0; */
    font-family: "Dosis", sans-serif;
    color: rgba(46, 31, 39, 1);
    background-color: rgba(243, 252, 240, 1);
}

body a {
    text-decoration: none;
    color: inherit;
}

body a:hover {
    text-decoration: none;
    color: inherit;
}

/* -------------------Colours */
/* 
$raisin-black: rgba(46, 31, 39, 1);
$light-coral: rgba(230, 149, 151, 1);
$brown: rgba(164, 66, 0, 1);
$honeydew: rgba(243, 252, 240, 1);
$midnight-green: rgba(14, 71, 73, 1); */

.opaque-overlay-pink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(179, 182, 227, 0.192);
}


.opaque-overlay-yellow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(218, 162, 9, 0.192);
}




/* -------------------Buttons */

.btn--help {
    color: rgba(243, 252, 240, 1);
    margin: 10px auto;
    background-color: rgb(52, 129, 63);
    border-radius: 5px;
    padding: 5px;
    float: right;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn--help:hover,
.btn--help:focus,
.btn--help.focus {
    color: rgba(243, 252, 240, 1);
    margin: 10px auto;
    background-color: rgb(38, 94, 46);
    border-radius: 5px;
    padding: 5px;
    float: right;
    border: none;
}




/* ------------------Dividers */

.hr-white {
    border: 1px solid rgba(14, 71, 73, 1);
    max-width: 50px;
}

.green-section-header {
    background-color: rgb(52, 129, 63);
    color: rgba(243, 252, 240, 1);
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;
}


.purple-section-header {
    background-color: rgb(179, 182, 227);
    color: rgba(243, 252, 240, 1);
    height: fit-content;
    width: 100%;
    margin-bottom: 30px;
}


.drk-bg-h2 {
    font-size: 52px;
    font-weight: 300;
    margin: 0;
}

.no-pad {
    margin: 0px;
    padding: 0px;
}




/* ---------------------Navbar */
#logo-text {
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    max-width: 75%;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46, 31, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(46, 31, 39, 1);
}

.navbar-content {
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
}



.navbar-bg {
    background-color: #D8D5ED;
}

.navbar-bg a {
    color: rgba(46, 31, 39, 1);
    font-family: "Dosis", sans-serif;
    text-decoration: none;
}

.navbar-bg a:hover {
    color: rgba(46, 31, 39, 1);
    text-decoration: underline;
}

.nav-link .active {
    text-decoration: underline;
}


/* ------------------Footer */

.bg-footer {
    background-color: rgb(216, 213, 237);
}

footer p {
    margin-bottom: 0;
    font-size: 16px;
    font-style: italic;

}

#social-networks {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    margin: auto 20px;
    color: rgba(46, 31, 39, 1);
}



/* ----------------------------------------------------------Homepage */

/* -----------------Jumbotron */

.main-header {
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-text {
    background-color: rgba(241, 255, 232, 0.5);
    text-align: center;
    border-radius: 15px;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.hero {
    height: 85vh;
    width: 100%;
    padding-top: 32px;
    background: url(../images/duy-pham-Cecb0_8Hx-o-unsplash.jpg) no-repeat center center/cover;
    position: relative;
    margin-bottom: 0px;
}



.hero p {
    display: inline-block;
}

.find-out {
    display: inline-block;
    color: rgba(46, 31, 39, 1);
    border: 1px solid rgba(46, 31, 39, 1);
    margin-left: 10px;
    background-color: rgba(241, 255, 232, 1);
    border-radius: 5px;
    padding: 5px;
}

.find-out:hover {
    color: rgba(46, 31, 39, 1);
    background-color: rgba(206, 245, 211, 1);
    text-decoration: none;
}


/*--------------- Here to help  */



.help-image img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: 15px auto;
}

.help-link {
    text-decoration: none;
    color: inherit;
}

.help-link:hover {
    text-decoration: none;
    color: inherit;
}

.help-text h3 {
    font-size: 26px;
    margin-top: 10px;
}

.help-text p {
    padding: 0;
    margin: 0 0 15px ;
}


.help-card {
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 40px 10px;
    border-radius: 15px;
    border: 10px solid rgb(216, 213, 237);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.help-card h3 {
    font-weight: 600;
    letter-spacing: 3px;
    display: inline-block;
}

.help-card p {
    display: inline-block;
}

.help-icon {
    font-size: 34px;

}



.crisis-icon {
    color: rgb(242, 66, 54);
}


/* ------------------------------------------------------------------------------Services */

.services-hero {
    height: 25vh;
    width: 100%;
    padding-top: 32px;
    background: url(../images/marek-studzinski-7QusMpfuKIc-unsplash.jpg) no-repeat center 10%/cover;
    position: relative;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}


.services-text {
    background-color: rgba(241, 255, 232, 0.8);
    text-align: center;
    border-radius: 15px;
    min-width: 50%;
    margin: auto;
}


.services-card {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 10px solid rgb(216, 213, 237);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px 15px 20px;
}

.services-card img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    margin: auto;
}

.services-card h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 15px;
}



/* -----------------------------------------------------------------------Affirmations Page  */


/*------------ Affirmations Generator */

.affirmations-page {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.affirmations-generator {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/vecteezy_retro-70s-abstract-background-in-orange-green-and-pale_.jpg");
    margin: auto;
    border-radius: 15px;
    border: 10px solid rgb(216, 213, 237);
    font-weight: 900;
    color: rgba(46, 31, 39, 1);
    padding: 0;
}

#aff-title {
    width: 100%;
    background-color: rgb(216, 213, 237);
}

#affirmation-div {
    text-align: center;

}

#affirmation {
    margin: 50px 15px 30px;
    font-size: 36px;
    font-family: inherit;
    font-weight: 600;
}

#change-affirmation-button {
    margin-top: 40px;
    font-size: 26px;
    width: 20vw;
    background-color: rgb(218, 162, 9);
    border: 3px solid rgba(46, 31, 39, 1);
    border-radius: 15px;
    min-width: 160px;
}

.attrib-link {
    text-decoration: none;
    color: inherit;
    padding-right: 5px;
    padding-bottom: 5px;
    float: right;
}

.attrib-link:hover {
    text-decoration: none;
    color: inherit;
    float: right;
}


/*-----------------Media Queries */


@media screen and (min-width:406px) {

    .custom-toggler.navbar-toggler {
        margin-right: 25px;
    }

    #logo-text {
        margin-left: 25px;
    }


}




@media screen and (min-width:992px) {

    #crisis-card {
        border: 10px solid rgb(242, 66, 54);
    }


    .nav-link {
        margin: 0 5px;
    }

    .btn--help {
        min-height: 58px;
    }

    .help-card {
        min-height: 630px;
    }


}


