@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/*------------------- General */

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    color: rgba(46, 31, 39, 1);
    background-color: rgba(243, 252, 240, 1);
}


/* -------------------Colours */
/* 
$raisin-black: rgba(46, 31, 39, 1);
$light-coral: rgba(230, 149, 151, 1);
$brown: rgba(164, 66, 0, 1);
$honeydew: rgba(243, 252, 240, 1);
$midnight-green: rgba(14, 71, 73, 1); */




/* -------------------Buttons */

/* .btn--hero {
    background-color: rgba(243, 252, 240, 1);
    border-radius: 2px;
    color: rgba(46, 31, 39, 1);
} */


/* ------------------Dividers */

.hr-white {
    border: 1px solid rgba(14, 71, 73, 1);
    max-width: 50px;
}

.pink-section-header {
    background-color: #fad6d6;
    height: 40px;
    width: 100%;
}

.green-section-header {
    background-color: rgba(14, 71, 73, 0.8);
    color: rgba(243, 252, 240, 1);
    height: 50px;
    width: 100%;
}


/* ---------------------Navbar */

.navbar-bg {
    background-color: rgba(243, 252, 240, 1);
}

.navbar-bg a {
    color: rgba(46, 31, 39, 1);
    font-family: "Dosis", sans-serif;
    text-decoration: none;
}

.navbar-bg a:hover {
    color: rgba(46, 31, 39, 1);
    text-decoration: underline;
}

#logo-text {
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 4px;
    max-width: 75%;
}

/* .logo-text a:hover {
    color: rgba(14, 71, 73, 1);
    text-decoration: wavy;
} */

/* -----------------Jumbotron */

.main-header {
    font-family: "Livvic", sans-serif;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 3px;
}

.hero-text {
    background-color: rgba(243, 252, 240, 0.7);
    text-align: center;
    border-radius: 5px;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section {
    padding: 0px; !important
    margin: 0px;
}

.jumbotron {
    height: 600px;
    width: 100%;
    padding-top: 32px;
    background: url(../images/duy-pham-Cecb0_8Hx-o-unsplash.jpg) no-repeat center center/cover;
    position: relative;
    margin-bottom: 0px;
}

.jumbotron p {
    display: inline-block;
}

.find-out {
    display: inline-block;
    color: rgba(243, 252, 240, 1);
    margin-left: 10px;
    background-color: rgba(14, 71, 73, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.find-out:hover {
    color: rgba(14, 71, 73, 1);
    background-color: rgba(243, 252, 240, 0.6);
    text-decoration: none;
}


/*--------------- Here to help  */


.help-image  img {
    height: 120px;
    width: 180px;
    border-radius: 15px;
    margin: 15px auto;
}

.help-text p {
    margin-bottom: 0px;
}

.help-card {
    background-color: #fcf2f2;
    margin: 20px;
    border-radius: 15px;
    border: 2px solid #ffa1a1fb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#here-to-help {
    margin: 0px;
    padding: 0px;
}


/* ------------------Footer */

.bg-footer {
    background-color: rgba(243, 252, 240, 1);
}





.wave-container {  
    height: 40vh;
    background-color: #fad6d6;
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 22L33 19C82 13 133 14 200 29C267 44 333 67 400 70C467 74 533 59 600 40C667 22 733 0 800 0C867 0 933 22 1000 29C1067 37 1133 29 1167 26L1200 22V134H1167C1133 134 1067 134 1000 134C933 134 867 134 800 134C733 134 667 134 600 134C533 134 467 134 400 134C333 134 267 134 200 134C133 134 67 134 33 134H0V22.332Z' fill='%23f3fcf0'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 65px
    }  
  }

  @media screen and (min-width:926px) {

    .jumbotron {
        min-height: 80vh;
    }

  }